<a href="https://colab.research.google.com/github/Sujan21008043/Assessment-2/blob/main/Assessment%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import sqlite3 #impots sqlite3 library

In [11]:
conn = sqlite3.connect('AUS_energy_sqlite3.db') # connect file named 'AUS_energy_sqlite3.db' in sqlite3 library

In [12]:
cur = conn.cursor() # works as a middleman to write sql queries in python,

In [15]:
sql= ''''
SELECT * FROM your_table_name;
'''
cur.execute(sql)

OperationalError: unrecognized token: "'
SELECT * FROM your_table_name;
"

In [7]:
sql = '''
SELECT name FROM sqlite_master WHERE type='table';
'''

In [8]:
# Connect to the database (replace 'AUS_energy_sqlite3.db' with your actual database file)
conn = sqlite3.connect('AUS_energy_sqlite3.db')

try:
    # Create a cursor
    cur = conn.cursor()

    # Execute a query (replace 'your_table_name' with the actual table name)
    cur.execute("SELECT * FROM your_table_name")

    # Fetch results (assuming you want to retrieve all rows)
    rows = cur.fetchall()
    for row in rows:
        print(row)

    # Commit any changes (if you made any modifications)
    conn.commit()

finally:
    # Close the cursor and connection
    cur.close()
    conn.close()

OperationalError: no such table: your_table_name